<% provide(:title, '問い合わせ一覧') %>

<h1>問い合わせ一覧</h1>

<div class="col-md-8 col-md-offset-2">
  
  <%= link_to "問い合わせ投稿", new_question_path, class: "btn btn-primary question-btn" %>
  
  <div class="question-paginate"><%= will_paginate %></div>
  <table class="table table-bordered table-condensed" id="table-users">
    <thead>
      <tr>
        <th>投稿日</th>
        <th>投稿者</th>
        <th>タイトル</th>
        <th>コメント</th>
        <th>投稿削除</th>
      </tr>
    </thead>
    <thead>
      <% @questions.each do |question| %>
        <tr id="question-<%= question.id %>">
          <td><%= l(question.created_at, format: :long) %></td>
          <td><%= question.user.guardian %></td>
          <td><%= link_to question.question_title, question %></td>
          <td><%=question.answers.count %></td>
          <td>
            <% if current_user?(question.user) %>
              <%= link_to "削除", question, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </thead>
  </table>
  <%= will_paginate %>
</div>  
