<% provide(:title, '問い合わせ一覧') %>

<h1 id="index">問い合わせ一覧</h1>

<div class="col-md-8 col-md-offset-2">
  
  <%= link_to "問い合わせ投稿", new_question_path, class: "btn btn-primary question-btn" %>
  <% if @questions.present? %>
    <div class="question-paginate"><%= will_paginate %></div>
    <table class="table table-bordered table-condensed" id="table-question" style="table-layout:fixed;">
      <thead>
        <tr>
          <th colspan="2">投稿日</th>
          <th colspan="1">投稿者</th>
          <th colspan="3">タイトル</th>
          <th colspan="1">コメント</th>
          <% if current_user.admin? %>
            <th colspan="1">投稿削除</th>
          <% end %>
        </tr> 
      </thead>
      <thead>
        <% @questions.each do |question| %>
          <tr id="question-<%= question.id %>">
            <td colspan="2"><%= l(question.updated_at, format: :default) %></td>
            <td colspan="1"><%= question.user.guardian %></td>
            <td colspan="3" style="word-wrap:break-word;" class="question_title"><%= link_to question.question_title, question %></td>
            <td colspan="1" style="word-wrap:break-word;"><%=question.answers.count %></td>
            <% if current_user.admin? %>
            <td colspan="1">
                <%= link_to "削除", question, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger btn-sm" %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </thead>
    </table>
  <% else %>
    <p class="question-index">問い合わせはありません</p>
  <% end %>
</div>