<% provide(:title, '問い合わせ') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '送信') %>
<h1>問い合わせ</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @question, local: true) do |f| %>
      <%= render 'shared/error_messages_question' %>
      
      <% if current_user.admin %>
        <%= f.label :destination, "送信先", class: "label-#{yield(:class_text)}" %>
        <span class="label label-danger label-user-division">必須</span>
        <%= f.collection_select :destination, @users.where.not(id: 1), :id, :guardian, {}, required: true, class: "form-control" %>
      <% else %>
        <%= f.collection_select :destination, User.where(id: 1), :id, :guardian, {}, style: "#{'display:none'}", class: "form-control" %>
      <% end %>
      
      <%= f.label :student_id, "生徒名", class: "label-#{yield(:class_text)}" %>
      <%= f.collection_select :student_id, @students, :id, :student_name, {include_blank: true}, class: "form-control" %>
      
    
      <%= f.label :question_title, "タイトル", class: "label-#{yield(:class_text)}" %>
      <span class="label label-danger label-user-division">必須</span>
      <%= f.text_field :question_title, required: true, class: "form-control" %>
      
      <%= f.label :question_content, "内容", class: "label-#{yield(:class_text)}" %>
      <span class="label label-danger label-user-division">必須</span>
      <%= f.text_area :question_content, required: true, class: "form-control", rows: 5 %>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
      
    <% end %>
  </div>
</div>
<br>
<div style="text-align:center"><a href="#" onclick="javascript:window.history.back(-1);return false;">問い合わせ一覧に戻る</a></div>