<% provide(:title, '問い合わせ詳細') %>

<h1>問い合わせ詳細</h1>

<div class="wrapper_normal">
  <div class="box17" id="questions-info-show" style="table-layout:fixed;width:100%;">
    <!--タイトル-->
    <div class="question-title" style="word-wrap:break-word;"><%= @question.question_title %></div>
    <!--投稿日時-->
    <div><%= l(@question.created_at, format: :default_2) %></div>
    <!--宛先-->
    <div class="question-destination">宛先：<%= @user_guargian %></div>
    <!--投稿者-->
    <div class="question-destination">
      投稿者：<%= @question.user.guardian %>
      <span>
        生徒名：<% if @question.student_id.present? %>
                  <%= @student.student_name %>
                <% else %>
                  対象なし
                <% end %>
      </span>
    </div>
    <!--内容-->
    <div class="question-content" style="word-wrap:break-word;"><%= raw(nl2br(@question.question_content)) %></div>
  </div>
    
  <div style="text-align:center;">〜 返信  〜</div><br>
  <%= form_with(model:@answer, url: answers_create_path,local: true) do |f| %>
    <%= f.hidden_field:question_id, value:@question.id %>
    <%= f.hidden_field:user_id, value: current_user.id %>
    <%= f.text_area :answer_content, class: "form-control answer_form", required:true, rows: 2 %><br />
    <div class="answer-btn-1"><%= f.submit value:"返信", class:"btn-sm btn-primary answer-btn-2" %></div>
  <% end %>
    
  <% if @answers.present? %>
    <div style="text-align:center;">〜 返信一覧 〜</div>
    <div class="answer_table">
      <% @answers.each do |comment| %>
        <!--文が長い場合は改行させる-->
        <div class="box17" style="word-wrap:break-word;">
          <div class="answer_left question-destination">
            <% if comment.user.admin == false %>
              <%= comment.user.guardian %>
              <br>
            <% else %>
              <%= comment.user.guardian %>
              <br>
            <% end %>
            </div>
            <div class="answer_right"><%= l(comment.updated_at, format: :default_2) %></div>
            <br>
            <div class="question-destination"><%= raw(nl2br(comment.answer_content)) %></div>
          </div>
      <% end %>
    </div>
  <% end %>
  <div style="text-align:center; margin-top:10px;"><%= link_to "問い合わせ一覧に戻る", questions_path %></div>
</div>
