<% provide(:title, '問い合わせ詳細') %>

<h1>問い合わせ詳細</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table-bordered table-condensed" id="questions-info-show">
    <thead>
      <tr>
        <th colspan="2" class="col-md-3">投稿日</th>
        <td colspan="4"><%= l(@question.created_at, format: :default) %></td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="2" class="col-md-3">タイトル</th>
        <td colspan="4"><%= @question.question_title %></td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="2" class="col-md-3">投稿者</th>
        <td colspan="4"><%= @question.user.guardian %></td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="2" class="col-md-3">生徒名</th>
        <td colspan="4"><%= @question.student.student_name %></td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="2" class="col-md-3">内容</th>
        <td colspan="4"><%= raw(nl2br(@question.question_content)) %></td>
      </tr>
    </thead>
  </table>
  <br>
  
  <div>返信</div>
  <%= form_with(model:@answer,url: answers_create_path,local: true) do |f| %>
    <%= f.hidden_field:question_id, value:@question.id %>
    <%#= f.hidden_field:user_id, value:@user.id %>
    <%= f.text_field :answer_content, class: "form-control",required:true %>
    <br>
    <%= f.submit value:"返信",class:"btn-sm btn-info" %>
  <% end %>
  
  <% if @answers.present? %>
    <table style="width:700px; font-size:15px" class="table-bordered table-condensed lead">
      <% @answers.each do |comment| %>
              
        <%# if comment.user.admin == false %>
          <%#= comment.student.student_name %>
          （保護者　<%#= comment.user.guardian %>)
        <%# else %>
          <%#= comment.user.guardian %>
        <%# end %>
        <%= daydis(comment.created_at) %>(<%=weekdate(comment.created_at) %>)<%=timedisplay(comment.created_at) %>
        <%= comment.answer_content %>
              
      <% end %>
    </table>
  <% end %>
  
  <br>
  <%= link_to "問い合わせ投稿", new_question_path, class: "btn btn-primary" %>
  <div style="text-align:center"><a href="#" onclick="javascript:window.history.back(-1);return false;">問い合わせ一覧に戻る</a></div>
</div>