 <!-- 2.編集モーダルの配置 -->
  <div class="modal fade" id="modal-sa" tabindex="-1" style="font-size: 20px;">
    <div class="modal-dialog modal-xl">
      <!-- 3.モーダルのコンテンツ -->
      <div class="modal-content">
        <!-- 4.モーダルのヘッダ -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="modal-title" id="modal-label"><b>基本情報閲覧・編集</b></h2>
          
          <div class="modal-body">
          <div class="modal-container">
            <%= form_with(model:@artile,url: basic_infos_student_update_path, method: :put, local: true) do |f| %>
              <% @students.each do |student| %>
                <%= fields_for "studentsmany[]",student do |st| %>
                  <%= st.label :生徒名　：%> <%= student.student_name %><br>
                  <% if student.birthday.present? %>
                    <%= st.label :生年月日： %>  <%= student.birthday.year %>年<%= daydis(student.birthday) %> <br>
                  <% end %>
                  <%= st.label :固定時間： %>
                   <%= student.fix_day %>
                   曜日<%= student.fix_time.hour %>:<%= mindisplay(student.fix_time) %><br>
                  <% if student.fix_day2.present? %>
                    <%= st.label :固定時間２： %> <%= student.fix_day2 %>
                    曜日<%= student.fix_time2.hour %>:<%= mindisplay(student.fix_time2) %><br>
                  <% end %>
                  <% if student.fix_day3.present? %>
                    <%= st.label :固定時間３： %> 
                    <%= student.fix_day3 %>曜日<%= student.fix_time3.hour %>:<%= mindisplay(student.fix_time3) %><br>
                  <% end %>
                  <%= st.label :学校名　： %> <%= st.text_field :school ,  style: "width:250px" %><br>
                  <%= st.label :学年　　： %> <%= Student.gradeyear(student.id) %><br>
                  <%= st.label :授業方法： %> <%= attend(student.zoom) %><br>
                  <%= st.label :受験区分： %> <%= tasker(student.examinee) %><br>
                  <hr>
                <% end %>
              <% end %>
              <%= submit_tag value="更新", :class => "btn btn-primary", data: { confirm: "更新していいですか"} %>&nbsp;
              <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          <% end %>
          
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>