<% provide(:title, 'お知らせ一覧') %>
<% require 'date' %>
<% today=Date.today %>
<div class="wrapper_norml">
<h1>平川塾からのお知らせ</h1>
<div class="col-md-12 col-md-offset-0">
  <div class="add-notice-information-btn">
    <% if current_user.admin? %>
    <%= link_to "お知らせ投稿", new_notice_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if @notices.present? %>
  <table class="table-bordered table-condensed" id="notices-info">
    <thead>
      <tr>
        <th colspan="1" class="col-md-3">送信日時</th>
        <th colspan="5">タイトル</th>
      </tr>
    </thead>
    <thead>
      <% @notices.each do |notice| %>
      <tr>
        <td colspan="1" class="col-md-3"><%= l(notice.updated_at, format: :day) %></td>
        <td colspan="5">
          <%= link_to notice.notice_title, notice %>
          <%#= link_to notice.notice_title, edit_notice_path(notice) %>
          <% if current_user.admin? %>
          <%= link_to "削除", notice, method: :delete,
            data: { confirm: "削除してよろしいですか？" },
            class: "btn btn-danger btn-sm pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </thead>
  </table>
  <% else %>
    <h2>投稿はありません</h2>
  <% end %>
  <% if will_paginate.blank? %>
    <br>
  <% else %>
  <div style = "margin : -20px 0 -20px 0" >
      <%= will_paginate %>
  </div>
  <% end %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      &nbsp;<%= link_to "スケジュールへのリンク", lessons_weeklyschedule_path %>
    </div>
  </div>
    <% if @reservations.present? %>
    <div class="bg-warning">
    <div class="panel-heading" data-toggle="collapse" data-target="#demo">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"> 予約授業へのコメント（遅刻等の連絡、クリックで展開）</div></span>
    <div id="demo" class="collapse">
      <% @reservations.each do |reservation| %>
      <br>
      <P>・<%= link_to reservation.lesson.meeting_on,"/reservationusers/useredit?lesson_id=#{reservation.lesson.id}&student_id=#{reservation.student.id}" %>
      (<%=weekdate(reservation.lesson.meeting_on) %>)
      <%= timedisplay(reservation.lesson.started_at) %>～<%= timedisplay(reservation.lesson.finished_at) %>
      <%= reservation.student.student_name %>&nbsp;&nbsp;
      <%= log_personal_cancel(reservation.cancel) %>
           <%= log_waiting(reservation.waiting) %>
           <%= log_transfer(reservation.transfer) %>
           <%= log_absence(reservation.absence) %>
           <%= log_cancel(Lesson.find(reservation.lesson_id).cancel) %>
      </P>
      <% end %>
    </div>
  </div>
  <% end %>
  <br>

  
  <!-- 2.編集モーダルの配置 -->
  <% if @students.present? %>
<div class="panel panel-success">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      &nbsp;<a href="" data-toggle="modal" data-target="#modal-sa" %>
        基本情報(確認用）</a>
    </div>
  </div>
</div>
  <% end %>
 <!--基本情報モーダル -->
<%= render partial: "basicstudent" %>
<!--基本情報モーダル終了 -->