<% provide(:title, 'お知らせ一覧') %>

<h1>お知らせ一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="add-notice-information-btn">
    <%= link_to "お知らせ投稿", new_notice_path, class: "btn btn-primary" %>
  </div>
  <%= will_paginate %>
  <table class="table-bordered table-condensed" id="notices-info">
    <thead>
      <tr>
        <th colspan="1" class="col-md-3">送信日時</th>
        <th colspan="5">タイトル</th>
      </tr>
    </thead>
    <thead>
    <% @notices.each do |notice| %>
      <tr>
        <td colspan="1" class="col-md-3"><%= l(notice.updated_at, format: :short) %></td>
        <td colspan="5">
          <%= link_to notice.notice_title, notice %>
          <%= link_to "削除", notice, method: :delete,
          data: { confirm: "削除してよろしいですか？" },
          class: "btn btn-danger btn-sm pull-right" %>
        </td>
      </tr>
    <% end %>
    </thead>
  </table>
  <%= will_paginate %>
</div>
  