<% provide(:title, 'お知らせ詳細') %>

<h1>お知らせ詳細</h1>
<div class="wrapper_norml">
<div class="col-md-13 col-md-offset-0">
  <div class="add-notice-information-btn">
    <% if current_user.admin? %>
    <P>
      <%= link_to "お知らせ投稿", new_notice_path, class: "btn btn-primary" %>&nbsp;
      <%= link_to "お知らせ編集", edit_notice_path(@notice.id), class: "btn btn-primary" %>
    </P>
    <% end %>
  </div>
  <div class="box17">
       <p><%= @notice.notice_title %></p>
    <thead>
      <tr>
        <td colspan="4"><%= l(@notice.updated_at, format: :default) %></td>
      </tr>
    </thead>
    <br><br><br>
    <thead>
      <tr>
        <th colspan="2" class="col-md-3">内容</th>
        <td colspan="4"><%= raw(nl2br(@notice.notice_content)) %></td>
      </tr>
    </thead>
  </div>
  <br>
  <div style="text-align:center"><a href="#" onclick="javascript:window.history.back(-1);return false;">一覧に戻る</a></div>
</div>
</div>
