<% provide(:title, 'お知らせ詳細') %>

<h1>お知らせ詳細</h1>
<div class="wrapper_normal">
<div class="col-md-13 col-md-offset-0">
  <div class="add-notice-information-btn">
    <% if current_user.admin? %>
    <P>
      <%= link_to "お知らせ投稿", new_notice_path, class: "btn btn-primary" %>&nbsp;
      <%= link_to "お知らせ編集", edit_notice_path(@notice.id), class: "btn btn-primary" %>
    </P>
    <% end %>
  </div>
  <div class="box17">
       <div class="notice-title"><%= @notice.notice_title %></div>
    <thead>
      <tr>
        <td colspan="4"><%= l(@notice.updated_at, format: :day_time) %></td>
      </tr>
    </thead>
    <br><br>
    <thead>
      <tr>
        <td colspan="4"><div class="notice-content"><%= simple_format @notice.notice_content %></div></td>
      </tr>
    </thead>
  </div>
  <p style="text-align:center"><a href="#" onclick="javascript:window.history.back(-1);return false;">一覧に戻る</a></div></p>
  <% if current_user.admin? %>
    <p style="text-align:center"><a href="http://titonet384.sakura.ne.jp/linkmake/"  target="_blank">リンクはこちらで作成して貼り付けて下さい</a></p>
  <% end %>
</div>
</div>
