<div class="modal fade" id=modal1 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-body" style="text-align:center;">
      <% zoomseat=@lesson.seats_zoom %>
      <% realseat=@lesson.seats_real %>
      <% @zoom = @reservation.zoom %>
    <div style="font-size:15px;">本当に授業方法を変更しますか？<br />
    <% if (@realnumber-realseat)>=0 and @zoom == true %>
      ※キャンセル待ちになります
    <% end %>
    <% if (@zoomnumber-zoomseat)>=0 and @zoom == false %>
      ※キャンセル待ちになります
    <% end %>
    </div></div>
    <div class="modal-footer">
    <%= form_with(url:reservationusers_userupdate_path,local: true) do |f| %>
      <%= f.hidden_field :reservation_id,value:@reservation.id %>
      <%= f.hidden_field :student_id,value:@student.id %>
      <%= f.hidden_field :day,value:@lesson.meeting_on %>
      <% if @zoom==true %>
        <div style=" display: inline-block; ">
      <%= f.submit "リアルに変更する", class: "btn btn-primary" %>
      </div>
      <% else %>
        <div style=" display: inline-block; ">
      <%= f.submit "Zoomに変更する", class: "btn btn-primary" %>
      </div>
    <% end %>
        <div style=" display: inline-block; ">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
    <% end %>
      </div>
    </div>
  </div>
</div>
