<% require 'date' %>
<% thisday=Date.today %>
<h2 class="lead" style="align:left;">授業予約新規登録</h2>
<div class="row"></div>
  <% @beforesite=request.referrer if @beforesite.blank? %>
  <div class="col-md-6 col-md-offset-2 lead">

    <table style="width:700px;" class="table-bordered table-condensed lead">
    <tr><td style="width:150px;" class="tdcondition2">対象</td><td>
    <%= @lesson.target %>
    <% if @lesson.cancel == true %>
      <span class="label label-danger label-user-division">中止になりました</span>
    <% end %>
    </td></tr>
    <tr><td style="width:150px;" class="tdcondition2">名前　学年</td><td><%= @student.student_name %>（ <%= Student.gradeyear(@student.id) %> ) </td></tr>
    <tr><td class="tdcondition2">予約日時</td>
    <td>
    <%= @lesson.meeting_on.year %>年
    <%= daydis(@lesson.meeting_on) %>
     ( <%=weekdate(@lesson.meeting_on) %> ) <%=timedisplay(@lesson.started_at) %> 〜 <%=timedisplay(@lesson.finished_at) %>
    <% if @lesson.regular==false %>
      <span class="label label-danger">臨時</span>
    <% end %>
    
    </td></tr>
    <tr><td class="tdcondition2">授業方法</td>
    <td>
      
      <%= form_with(url:reservationusers_reservation_create_path,local: true) do |f| %>
      <% if @zoom==true %>
        <%= f.radio_button :zoom, :false %>&nbsp;リアル(<%= @realnumber %>/<%= @realseat %>)
        <%= f.radio_button :zoom, :true  ,{:checked => true} %>&nbsp;Zoom(<%= @zoomnumber %>/<%= @zoomseat %>)
      <% else %>
        <%= f.radio_button :zoom, :false  ,{:checked => true} %> リアル(<%= @realnumber %>/<%= @realseat %>)
        <%= f.radio_button :zoom, :true %>&nbsp;Zoom(<%= @zoomnumber %>/<%= @zoomseat %>)
      <% end %>
      <%= f.hidden_field :reservation_id,value:@reservation.id %>
      <%= f.hidden_field :student_id,value:@student.id %>
      <%= f.hidden_field :lesson_id,value:@lesson.id %>
    <tr><td class="tdcondition2">備考</td><td><%=@lesson.note %></td>
    </table>
    <p>
      <% if @lesson.meeting_on>thisday and @lesson.cancel == false %>
        <%= f.submit "新規登録", class: "btn btn-primary button_size" %>&nbsp;
      <% end %>
    <% end %>
    <%= link_to "ｽｹｼﾞｭｰﾙ" ,"/lessons/weeklyschedule?cation=1&changeday=#{@lesson.meeting_on}",class:"btn btn-info button_size" %>&nbsp;
    </p>
    
    </div>
</div>