<% require 'date' %>
<% thisday=Date.today %>
<h2 class="lead" style="align:left;">授業予約新規登録</h2>
<div class="container">
<table class="table-newb">
<tr>
  <th>対象</th>
  <td>
  <%= @lesson.target %>
  <% if @lesson.examinee==true %>
      受験生
  <% elsif @lesson.examinee==true %>
    一般
  <% end %>
  <% if @reservation.cancel? %>
      <span class="label label-danger">予約取消</span>
  <% elsif @reservation.waiting == true %>
      <span class="label label-danger">キャンセル待ち</span>
  <% else %>
      <span class="label label-info">予約済</span>
  <% end %>
  <% if @lesson.cancel == true %>
      <span class="label label-danger label-user-division">中止になりました</span>
  <% end %>
  </td>
</tr>
<tr>
  <th>名前 学年</th>
  <td><%= @student.student_name %>（ <%= @student.school %>　<%= Student.gradeyear(@student.id) %> ) </td>
</tr>
<tr>
  <th>予約日時</th>
  <td><%= @lesson.meeting_on.year %>年
    <%= daydis(@lesson.meeting_on) %>
     ( <%=weekdate(@lesson.meeting_on) %> ) <%=timedisplay(@lesson.started_at) %> 〜 <%=timedisplay(@lesson.finished_at) %>
    <% if @reservation.transfer==true %>
     振替　
    <% end %>
    <% if @reservation.absence? %>
      <span class="label label-danger">欠席</span>
    <% end %>
    <% if @lesson.regular==false %>
      <span class="label label-danger">臨時</span>
    <% end %>
  </td>
</tr>

<tr>
  <th>授業方法</th>
  <td>
    <%= form_with(url:reservationusers_reservation_create_path,local: true) do |f| %>
      <% if @zoom==true %>
        <%= f.radio_button :zoom, :false %>&nbsp;リアル(<%= @realnumber %>/<%= @realseat %>)
        <%= f.radio_button :zoom, :true  ,{:checked => true} %>&nbsp;Zoom(<%= @zoomnumber %>/<%= @zoomseat %>)
      <% else %>
        <%= f.radio_button :zoom, :false  ,{:checked => true} %> リアル(<%= @realnumber %>/<%= @realseat %>)
        <%= f.radio_button :zoom, :true %>&nbsp;Zoom(<%= @zoomnumber %>/<%= @zoomseat %>)
      <% end %>
      <%= f.hidden_field :reservation_id,value:@reservation.id %>
      <%= f.hidden_field :student_id,value:@student.id %>
      <%= f.hidden_field :lesson_id,value:@lesson.id %>
    </td>
  </tr>

  <tr>
    <th>備考</th>
    <td><%=@lesson.note %></td>
  </tr>
  <% if current_user.admin? %>
  <tr>
    <th>生徒備考＊</th>
    <td><%= simple_format(@student.note) %></td>
  </tr>
  <% end %>
</table><br />
  <% if @lesson.meeting_on>thisday and @lesson.cancel == false %>
        <%= f.submit "新規登録", class: "btn btn-primary button_size" %>&nbsp;
      <% end %>
    <% end %>
    <%= link_to "ｽｹｼﾞｭｰﾙ" ,"/lessons/weeklyschedule?cation=1&changeday=#{@lesson.meeting_on}",class:"btn btn-info button_size" %>&nbsp;
    </p>
    
    </div>
</div>