<% require 'date' %>
<% thisday=Date.today %>
<h2 class="lead">授業予約新規登録</h2>
<div class="row"></div>
  <% @beforesite=request.referrer if @beforesite.blank? %>
  <div class="col-md-6 col-md-offset-3 lead">

    <table border="2" class="table" style="border : 2px solid midnightblue ;">
    <tr ><td style="width:150px;" class="tdcondition2">コース</td><td><%= @lesson.target %>コース&nbsp;
    </td></tr>
    <tr style="border-top: solid  midnightblue;"><td style="width:150px;" class="tdcondition2">名前</td><td><%= @student.student_name %></td></tr>
    <tr style="border-top:  solid midnightblue;"><td class="tdcondition2">予約日時</td>
    <td>
    <%= daydis(@lesson.meeting_on) %>(<%=weekdate(@lesson.meeting_on) %>)
    <%=timedisplay(@lesson.started_at) %>〜<%=timedisplay(@lesson.finished_at) %>
    <% if @lesson.regular==false %>
      <span class="label label-danger">臨時</span>
    <% end %>
    </td></tr>
    <tr style="border-top: solid midnightblue;"><td class="tdcondition2">授業方法</td>
    <td>
      <% realseat=@lesson.seats_real %>
      <% realnumber=Reservation.where(" lesson_id=? AND zoom  = ?" ,@lesson.id, false).count %>
      <% zoom=true if @student.zoom? %>
      <% zoomseat=@lesson.seats_zoom %>
      <% zoomnumber=Reservation.where(" lesson_id=? AND zoom  = ?" ,@lesson.id, true).count %>
      <%= form_with(url:reservationusers_reservationnewusercreate_path,local: true) do |f| %>
      <% if zoom==true %>
        <%= f.radio_button :zoom, :false %>&nbsp;リアル(<%=realnumber %>/<%=realseat %>)
        <%= f.radio_button :zoom, :true  ,{:checked => true} %>&nbsp;Zoom(<%=zoomnumber %>/<%=zoomseat %>)
      <% else %>
        <%= f.radio_button :zoom, :false  ,{:checked => true} %> リアル(<%=realnumber %>/<%=realseat %>)
        <%= f.radio_button :zoom, :true %>&nbsp;Zoom(<%=zoomnumber %>/<%=zoomseat %>)
    <% end %>
      <%= f.hidden_field :reservation_id,value:@reservation.id %>
      <%= f.hidden_field :student_id,value:@student.id %>
      <%= f.hidden_field :lesson_id,value:@lesson.id %>
    <tr style="border-top: solid midnightblue;"><td class="tdcondition2">備考</td><td><%=@lesson.note %></td>
    </table>
    <p>
      <% if @lesson.meeting_on>thisday %>
        <%= f.submit "授業新規登録", class: "btn btn-primary" %>&nbsp;
      <% end %>
    <% end %>
    <%= link_to "ｽｹｼﾞｭｰﾙ" ,"/lessons/weeklyschedule?cation=1&changeday=#{@lesson.meeting_on}",class:"btn btn-info" %>&nbsp;
    <a href="#" onclick="javascript:window.history.back(-1);return false;">戻る</a>
    </p>
    <% modaltype="newsc" %>
    </div>
</div>
