<% require 'date' %>
<% thisday=Date.today %>
<h2 class="lead">振替授業予約新規登録</h2>
<div class="row"></div>
  <% @beforesite=request.referrer if @beforesite.blank? %>
  <div class="col-md-6 col-md-offset-3 lead">
    
    <table border="2" class="table" style="border : 2px solid midnightblue ;">
    <tr ><td style="width:150px;">コース</td><td><%= @lesson.target %>コース&nbsp; 
    <% if @lesson.regular==false %>
    (臨時開催)
    <% end %>
    </td></tr>  
    <tr style="border-top: solid  midnightblue;"><td style="width:150px;">名前</td><td><%= @student.student_name %></td></tr>
    <tr style="border-top:  solid midnightblue;"><td>予約日時</td>
    <td>
    <%= daydis(@lesson.meeting_on) %>(<%=weekdate(@lesson.meeting_on) %>)<%=timedisplay(@lesson.started_at) %>〜<%=timedisplay(@lesson.finished_at) %>
    </td></tr>
    <tr style="border-top: solid midnightblue;"><td>授業方法</td>
    <td>
      <% realseat=@lesson.seats_real %>
      <% realnumber=Reservation.where(" lesson_id=? AND zoom  = ?" ,@lesson.id, false).count %>
      <% zoom=true if @student.zoom? %>
      <% zoomseat=@lesson.seats_zoom %>
      <% zoomnumber=Reservation.where(" lesson_id=? AND zoom  = ?" ,@lesson.id, true).count %>
      <%= form_with(url:reservationusers_reservationnewusercreate_path,local: true) do |f| %> 
      <% if zoom==true %>
        <%= f.radio_button :zoom, :false %> リアル(<%=realnumber %>/<%=realseat %>)
        <%= f.radio_button :zoom, :true  ,{:checked => true} %>Zoom(<%=zoomnumber %>/<%=zoomseat %>)
      <% else %>
        <%= f.radio_button :zoom, :false  ,{:checked => true} %> リアル(<%=realnumber %>/<%=realseat %>)
        <%= f.radio_button :zoom, :true %> Zoom(<%=zoomnumber %>/<%=zoomseat %>)
    <% end %>
      <%= f.hidden_field :reservation_id,value:@reservation.id %>
      <%= f.hidden_field :student_id,value:@student.id %>
      <%= f.hidden_field :lesson_id,value:@lesson.id %>
    <tr style="border-top: solid midnightblue;"><td>備考</td><td><%=@reservation.note %></td>
    </table>
      <% if @lesson.meeting_on>thisday %>
        <%= f.submit "振替授業新規登録", class: "btn btn-primary" %>&nbsp;
      <% end %>
    <% end %>
    <% if @beforesite.present? %>
      <%= link_to "前のページに戻る" ,@beforesite %>
    <% else %>
      <%=link_to "カレンダーに戻る","/lessons/weeklyschedule?cation=1&changeday=#{lesson.meeting_on.to_s}" %>
    <% end %>
    </p>
    <% modaltype="newsc" %>
    
  </div>
</div>

