<h2 class="title-style">授業予約詳細・変更登録</h2>
<div class="wrapper">
<table class="table-reverb">
<tr>
  <th>対象</th>
  <td>
  <%= @lesson.target %>
  <% if @lesson.examinee==true %>
      受験生
  <% elsif @lesson.examinee==true %>
    一般
  <% end %>
  <% if @reservation.cancel? %>
      <span class="label label-danger">予約取消</span>
  <% elsif @reservation.waiting == true %>
      <span class="label label-danger">キャンセル待ち</span>
  <% else %>
      <span class="label label-info">予約済</span>
  <% end %>
  <% if @lesson.cancel == true %>
      <span class="label label-danger label-user-division">中止になりました</span>
  <% end %>
  </td>
</tr>
<tr>
  <th>名前 学年</th>
  <td><%= @student.student_name %>（ <%= @student.school %>　<%= Student.gradeyear(@student.id) %> ) 
  <% if @student.examinee? %>
    <span class="label label-success label-user-division">受験生</span>
  <% end %>
  </td>
</tr>
<tr>
  <th>予約日時</th>
  <td>
    <%= l(@lesson.meeting_on.to_datetime, format: :day_week) %>
    <%= l(@lesson.started_at, format: :time) %>〜<%= l(@lesson.finished_at, format: :time) %>
    <% if @reservation.transfer==true %>
     振替　
    <% end %>
    <% if @reservation.absence? %>
      <span class="label label-danger">欠席</span>
    <% end %>
    <% if @lesson.regular==false %>
      <span class="label label-danger">臨時</span>
    <% end %>
  </td>
</tr>
<tr>
  <th>固定時間</th>
  <td>
  <% if @reservation.fix_time.present? %>
      <%= l(@reservation.fix_time, format: :time) %>～
    <% else %>
      <span class="label label-danger">未設定</span>
    <% end %>
  </td>
</tr>
<tr>
  <th>授業方法</th>
  <td>
    <% if @reservation.zoom == true %>
      Zoom
    <% else %>
     リアル
    <% end %>
    </td>
  </tr>
  <tr>
  <th>予約備考</th>
    <td><%=@reservation.note %></td>
  </tr>
  <tr>
    <th>授業備考</th>
    <td><%=@lesson.note %></td>
  </tr>
  <% if current_user.admin? %>
  <tr>
    <th>生徒備考＊</th>
    <td><%= simple_format(@student.note) %></td>
  </tr>
  <% end %>
</table>
<br />
    <% if current_user.admin? %>
      <div style="font-size:15px; margin-top:-17px;">＊印は管理者のみ閲覧可能</div>
    <% end %>
    <% modaltype1="chengesc" %><% @modaltype="newsc" %>
    <% if @lesson.meeting_on>@today or current_user.admin? %>
      <a href="" data-toggle="modal" data-target=#modal1 class="btn btn-success button_size">方法変更</a>&nbsp;
      <% if @lesson.regular==true %>
      <div style="display: inline-block;">
        <a href="" data-toggle="modal" data-target=#<%=@modaltype %> class="btn btn-warning button_size">授業振替</a>&nbsp;
      </div>
      <% end %>
      <div style="display: inline-block;">
      <% if @reservation.cancel == false %>
        <%= button_to "授業取消", {controller: 'reservationusers', action: 'reservation_delete'}, {method: :get, data: { confirm: '本当に取消しますか？' }, params: {reservation_id:@reservation.id, cancel:true },class:"btn btn-danger button_size"} %>
      <% else %>
        <%= button_to "授業再開", {controller: 'reservationusers', action: 'reservation_delete'}, {method: :get, data: { confirm: '本当に再開しますか？' }, params: {reservation_id:@reservation.id},class:"btn btn-primary button_size"} %>
      <% end %>
      </div>&nbsp;
    <% end %>
    <div style="display: inline-block;">
      <%= link_to "ｽｹｼﾞｭｰﾙ" ,lessons_weeklyschedule_path, class:"btn btn-info button_size" %>&nbsp;
   </div>
    <% if current_user.admin? %>
      <div style="display: inline-block;">
      <a href="" data-toggle="modal" data-target=#modal2 class="btn btn-warning button_size">情報修正＊</a>&nbsp;
      </div>
      <div style="display: inline-block;">
      <%= link_to "管理画面＊" ,"/lessons/#{@lesson.id}/lesson_detail",class:"btn btn-info button_size" %>&nbsp;
      </div>
      </p>
    <% else %>
      <br />
  　<% end %>
    <br />
    <% modaltype="newsc" %>
    <div style="font-size:15px">コメント(連絡事項)<br /></div>
    <%= form_with(model:@lessoncomment,url: lessoncomments_create_path,local: true) do |f| %>
      <%= f.hidden_field:reservation_id,value:@reservation.id %>
      <%= f.hidden_field:student_id,value:@student.id %>
      <%= f.hidden_field:lesson_id,value:@lesson.id %>
      <%= f.text_field :content, class: "form-control", style:"width:100%",required:true %><br />
      <%= f.submit value:"送信",class:"btn-sm btn-info" %>
    <% end %>
    <br />
    <% if @lessoncomments.present? %>
    <table style="width:100%; font-size:15px" class="table-bordered table-condensed lead">
    <% @lessoncomments.each do |comment| %>
      <tr><td>
      <% if comment.user.admin == false %>
        <%= comment.student.student_name %>
        （保護者　<%= comment.user.guardian %>)
      <% else %>
        <%= comment.user.guardian %>
      <% end %>
      &nbsp;<%=l(comment.created_at, format: :day_time) %>&nbsp;<br />
      <%= comment.content %><br />
      </td></tr>
      <% end %>
    </table>
    <% end %>
 </div>
 
<!--授業授業方法変更モーダル -->
<%= render partial: "methodchange" %>
<!--授業授業方法変更モーダル終了 -->

<!--授業振替モーダル -->
<%= render partial: "transfer" %>
<!--授業振替モーダルここまで -->

<!--生徒情報変更モーダル -->
<%= render partial: "student" %>
<!--授業振替モーダルここまで -->

</div>
