<% provide(:class_text, 'info-edit') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">基本生徒情報編集</h1>
    </div>
    <div class="modal-body">
  
          <%= form_with(model: @student, url: info_update_student_path(@student), local: true, method: :patch) do |f| %>
            <table class="table-student">
              <tr>
                <th>生徒名</th>
                <td><%= f.text_field :student_name , class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>生徒カナ</th>
                <td><%= f.text_field :studentkana , class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>生年月日</th>
                <td><%= f.date_field :birthday, class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>学校名</th>
                <td><%= f.text_field :school, class: "form-control" , required: true%></td>
              </tr>
              <tr>
                <th>受講方法</th>
                <td style = "text-align:left; font-size:15px; margin-left:10px;">
                &nbsp;<%= f.radio_button :zoom, :false %>&nbsp;リアル
                <%= f.radio_button :zoom, :true  %>&nbsp;Zoom</td>
              </tr>
              <tr>
                <th>受験生区分</th>
                <td style = "text-align:left; font-size:15px; margin-left:10px;">
                &nbsp;<%= f.radio_button :examinee, :true %>&nbsp;受験生
                <%= f.radio_button :examinee, :false  %>&nbsp;一般</td>
              </tr>
              <tr>
                <th>固定曜日</th>
                <% weekday = [["月"],["火"],["水"],["木"],["金"],["土"],["日"]] %>
                <td><%= f.select :fix_day, weekday, {selected:@student.fix_day}, required: true, class: "form-control new-form" %></td>
              </tr>
              <tr>
                <th>固定時間</th>
                <td><%= f.time_field :fix_time , class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>固定曜日2</th>
                <td><%= f.select :fix_day2, weekday, {selected:@student.fix_day2,include_blank: true}, class: "form-control new-form" %></td>
              </tr>
              <tr>
                <th>固定時間2</th>
                <td><%= f.time_field :fix_time2 , class: "form-control" %></td>
              </tr>
              <tr>
                <th>固定曜日3</th>
                <td><%= f.select :fix_day3, weekday, {selected:@student.fix_day3,include_blank: true}, class: "form-control new-form" %></td>
              </tr>
              <tr>
                <th>固定時間3</th>
                <td><%= f.time_field :fix_time3 , class: "form-control" %></td>
              </tr>
               <tr>
                <th>固定曜日4</th>
                <td><%= f.select :fix_day4, weekday, {selected:@student.fix_day4,include_blank: true}, class: "form-control new-form" %></td>
              </tr>
              <tr>
                <th>固定時間4</th>
                <td><%= f.time_field :fix_time4 , class: "form-control" %></td>
              </tr>
              <tr>
                <th>備考</th>
                <td><%= f.text_field :note, class: "form-control" %></td>
              </tr>
              <tr>
                <th>退会日</th>
                <td><%= f.date_field :withdrawal, class: "form-control" %></td>
              </tr>
              </table>
            <div class="center">
              <%= f.submit "編集", class: "btn btn-primary" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
              <%= link_to "削除", student_path, method: :delete, 
              data:  { confirm: "本当に削除してよろしいですか？"},
              class: "btn btn-danger btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>