<div class="modal fade" id=<%= @user_id %> tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" margin:auto;"=" margin:auto;""="margin:auto;""">
      <div class="modal-body">
      <h2>受講生新規登録</h2>
      保護者：<%= User.find(@user_id).guardian %>
      <% @student = Student.new %>
       <%= form_with(model: @student, url: students_path, local: true, method: :post) do |f| %>
            <table class="table-student">
            <%= f.hidden_field :user_id ,value: @user_id %>
              <tr>
                <th>生徒名</th>
                <td><%= f.text_field :student_name , class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>生徒カナ</th>
                <td><%= f.text_field :studentkana ,  class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>生年月日</th>
                <td><%= f.date_field :birthday, class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>学校名</th>
                <td><%= f.text_field :school, class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>受講方法</th>
                <td style = "text-align:left; font-size:15px; margin-left:10px;">
                &nbsp;<%= f.radio_button :zoom, :false %>&nbsp;リアル
                <%= f.radio_button :zoom, :true  %>&nbsp;Zoom</td>
              </tr>
              <tr>
                <th>受験生区分</th>
                <td style = "text-align:left; font-size:15px; margin-left:10px;">
                &nbsp;<%= f.radio_button :examinee, :true %>&nbsp;受験生
                <%= f.radio_button :examinee, :false  %>&nbsp;一般</td>
              </tr>
              <tr>
                <th>固定曜日</th>
                <% weekday = [["月"],["火"],["水"],["木"],["金"],["土"],["日"]] %>
                <td><%= f.select :fix_day, weekday, {selected:@student.fix_day}, required: true, class: "form-control new-form" %></td>
              </tr>
              <tr>
                <th>固定時間</th>
                <td><%= f.time_field :fix_time , class: "form-control", required: true %></td>
              </tr>
              <tr>
                <th>固定曜日2</th>
                <td><%= f.select :fix_day2, weekday, {selected:@student.fix_day2,include_blank: true}, class: "form-control new-form" %></td>
              </tr>
              <tr>
                <th>固定時間2</th>
                <td><%= f.time_field :fix_time2 , class: "form-control" %></td>
              </tr>
              <tr>
                <th>固定曜日3</th>
                <td><%= f.select :fix_day3, weekday, {selected:@student.fix_day3,include_blank: true}, class: "form-control new-form" %></td>
              </tr>
              <tr>
                <th>固定時間3</th>
                <td><%= f.time_field :fix_time3 , class: "form-control" %></td>
              </tr>
              <tr>
                <th>備考</th>
                <td><%= f.text_field :note, class: "form-control" %></td>
              </tr>
              </table>
            <div class="center">
              <%= f.submit "登録", class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
