<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <button type="button" class="close">
            <span aria-hidden="true"><%= link_to "✖️️", users_path %></span>
        </button>
      </div>
      <div class="modal-body">
        <h2 style="font-size: 25px">固定時間一覧</h2>
      <table  align="center">
      <tr><td style="font-size: 20px">
        <% @student_ls.each do |id, week ,time , name, finishtime | %>
        <%= id %>
          <%= week %>
          <%= time %>-<%=finishtime %>
          <%= name %><br />
        <% end %></td></tr>
      </table>
      <br />
      <div class="modal-footer">
          <%= link_to "閉じる", users_path ,class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>
