  
<% provide(:title, '予約履歴') %>
<% dateup = @day.end_of_month+1 %>
<% datedown = @day.beginning_of_month-1 %>
<div class="setting">
<h2 class="lead">予約履歴</h2>
<h2><div style="display: inline-block;"><%= button_to "←", {controller: 'reservation_logs', action: 'index'}, {method: :get, class: "logbotton",params: {changeday:datedown,cation:"1"}} %></div>
&nbsp;<%= year_month(@day) %>&nbsp;
<div style="display: inline-block;"><%= button_to "→", {controller: 'reservation_logs', action: 'index'}, {method: :get,  class: "logbotton", params: {changeday:dateup,cation:"1"}} %></div>
</h2>
<div class="wrapper_middle">
<% if @reservation_logs.present? %>
  <table class="table-log" id="reservations-info">
    <thead>
      <tr>
        <th style="width:110px;">授業日</th>
        <th style="width:100px;">授業時間</th>
        <th style="width:60px;">固定時間</th>
        <th style="width:130px;">生徒名</th>
        <th style="width:60px;">コメント</th>
        <th style="width:25px;">出席</th>
        <th style="width:160px;">備考</th>
      </tr>
    </thead>
    <thead>
   <% @reservation_logs.each do |log| %>
      <tr>
        <td>
        <% if current_user.admin? %>
          <%= link_to l(log.lesson.meeting_on.to_datetime, format: :day_week),"/lessons/#{log.lesson_id}/lesson_detail" %>
        <% else %>
          <%= l(log.lesson.meeting_on.to_datetime, format: :day_week) %>
        <% end %>
        </td>
        <td>
           <%= l(log.lesson.started_at, format: :time) %>～<%= l(log.lesson.finished_at, format: :time)  %>
        </td>
        <td>
           <%= l(log.fix_time, format: :time) if log.fix_time.present? %>
        </td>
        <td>
           <%= link_to log.student.student_name, "/reservationusers/useredit?lesson_id=#{log.lesson.id}&student_id=#{log.student.id}" %>
        </td>
        <td>
          <%= Lessoncomment.where("lesson_id =? and student_id =?", log.lesson_id, log.student_id).count %>
        </td>
        <td style="text-align: center;">
           <%= "済" if log.attendance_time != nil %>
           <%= "欠席" if log.absence? %>
        </td>
        <td style="text-align: left;">
           <%= log_personal_cancel(log.cancel) %>
           <%= log_waiting(log.waiting) %>
           <%= log_transfer(log.transfer) %>
           <%= log_cancel(Lesson.find(log.lesson_id).cancel) %>
        </td>
      </tr>
    <% end %>
    </thead>
  </table>
  <% else %>
    <h2>対象がありません</h2>
  <% end %>
</div>
</div>
<br /><br />