<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">ユーザー情報編集</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @user, url: update_basic_info_user_path(@user), local: true, method: :patch) do |f| %>
            <%= render 'shared/error_messages', object: @user %>

            <%= f.label :保護者, class: "label-#{yield(:class_text)}" %>
            <p><%= f.text_field :guardian, class: "form-control", required: true %></p>

            <%= f.label :保護者カナ, class: "label-#{yield(:class_text)}" %>
            <p><%= f.text_field :guardiankana, class: "form-control", required: true %></p>
            
            <%= f.label :email, class: "label-#{yield(:class_text)}" %>
            <%= f.email_field :email, class: "form-control", required: true %>

            <%= f.label :password, class: "label-#{yield(:class_text)}" %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.label :退会日（全受講生が退会すれば自動登録されます）, class: "label-#{yield(:class_text)}" %>
            <%= f.date_field :withdrawal, class: "form-control" %>
            <br />
            <%= f.check_box :admin  %>&nbsp;<%= f.label :管理者, class: "label-#{yield(:class_text)}" %>
            
            <!--電話番号のカラムが必要と思われるので実装予定-->

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>