<% provide(:title, "編集") %>
<h1>編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
       <!--メールアドレス-->
      ・<%= f.label :email, class: "label-signup" %>
      <span class="label label-danger label-user-division">必須</span>
      <%= f.email_field :email, required: true, class: "form-control new-form" %>
      
     <!--パスワード-->
      ・<%= f.label :password, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span>
      <%= f.password_field :password, required: true, class: "form-control new-form" %>
      
      <!--パスワード再入力-->
      ・<%= f.label :password_confirmation, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span>
      <%= f.password_field :password_confirmation, required: true, class: "form-control new-form" %>

      <%= f.submit "更新", class: "btn btn-primary btn-block btn-user--edit" %>
    <% end %>
  </div>
</div>