<% provide(:title, 'All users') %>

<h1>保護者一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :guardian %></th>
        <th>受講生</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.guardian %>
          <% if user.admin? %>
            <span class="label label-primary label-user-division">管理者</span>
          <% else %>
            <span class="label label-success label-user-division">一般</span>
          <% end %>
        </td>
          <% students = @students.where(user_id: user.id) %>
        <td>
          <% students.each do |student| %>
            <%= link_to student.student_name, info_edit_student_path(student), remote: true %> 
            <%= student.user_id %>
          <% end %>
        </td>
        <td>
          <%= link_to "削除", user, method: :delete,
              data:  { confirm: "本当に削除してよろしいですか？"},
              class: "btn btn-danger btn-sm pull-right" %>
          <%= link_to "編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-success btn-sm pull-right" %>
          <!-- モーダル表示は事後対応します -->
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="info-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>