<% provide(:title, 'All users') %>

<h1>保護者一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :guardian %><%= link_to "新規登録", signup_path %></th>
        <th>受講生</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <%#= link_to user.guardian, edit_basic_info_user_path(user), remote: true %>
          <%= link_to user.guardian, edit_basic_info_user_path(user), remote: true %>
          <% if user.admin? %>
            <span class="label label-primary label-user-division">管理者</span>
          <% else %>
            <span class="label label-success label-user-division">一般</span>
          <% end %>
        </td>
          <% students = @students.where(user_id: user.id) %>
        <td>
          <% students.each do |student| %>
            <%= link_to student.student_name, info_edit_student_path(student), remote: true %> 
            (<%= Student.gradeyear(student.id) %> <%= student.school %>)
            固定時間1:<%= student.fix_day %> <%= timedisplay(student.fix_time) %>
            <% if student.fix_day2.present? %>
               固定時間2:<%= student.fix_day2 %> <%= timedisplay(student.fix_time2) %>
            <% end %>
            <% if student.examinee? %>
              <span class="label label-success label-user-division">受験生</span>
            <% end %>
            <% if students.count >1 %>
              <br>
            <% end %>
          <% end %>
        </td>
        <td>
          
          <% @user_id = user.id %>
          <a href="" data-toggle="modal" data-target=#<%= @user_id %> class="btn btn-primary btn-sm pull-right">受講生新規</a>
            <!--生徒新規モーダル -->
          <%= render partial: "new_basic_info" %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="info-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>