<% provide(:title, 'All users') %>
<h2 style="font-size:30px;">契約一覧</h2>

<div class="wrapper_middle">
  <div style="display: inline-block;"><%= button_to "契約者", {controller: 'users', action: 'index'}, {method: :get, params: {cation:"1"}} %></div>
  <div style="display: inline-block;"><%= button_to "全表示", {controller: 'users', action: 'index'}, {method: :get, params: {cation:"2"}} %></div>
  <div style="display: inline-block;"><%= button_to "登録順", {controller: 'users', action: 'index'}, {method: :get, params: {cation:"3"}} %></div>
  <a href="" data-toggle="modal" data-target=#modal2>固定時間一覧</a>
   <%= render partial: "/students/students_time" %>
</div><br /><br />
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :guardian %><%= link_to "新規登録", signup_path %></th>
        <th></th>
        <th>受講生</th>
        <th></th>
      </tr>
    </thead>
    <% @admins.each do |user| %>
      <tr>
        <td>
          <%= link_to user.guardian, edit_basic_info_user_path(user), remote: true %>
          <span class="label label-primary label-user-division">管理者</span>
         </td>
        <td></td> 
        <td></td>
        <td></td>
      </tr>
    <% end %>   
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.guardian, edit_basic_info_user_path(user), remote: true %>
          <span class="label label-success label-user-division">一般</span>
        </td>
        <td>
        <%= link_to "削除","users/#{user.id}/delete", method: :delete, 
              data:  { confirm: "本当に削除してよろしいですか？該当の受講生、予約授業も併せて削除します"},
              class: "btn btn-danger btn-sm" %>
          <% students = @students.where(user_id: user.id) %>
        <td>
          <% students.each do |student| %>
            <%= link_to student.student_name, info_edit_student_path(student), remote: true %> 
            (<%= Student.gradeyear(student.id) %> <%= student.school %>)
            <% if student.withdrawal.blank? %>
                固定時間1:<%= student.fix_day %> <%= timedisplay(student.fix_time) %>
            <% if student.fix_day2.present? %>
                固定時間2:<%= student.fix_day2 %> <%= timedisplay(student.fix_time2) %>
            <% end %>
            <% if student.fix_day3.present? %>
                固定時間3:<%= student.fix_day3 %> <%= timedisplay(student.fix_time3) %>
            <% end %>
            <% if student.fix_day4.present? %>
                固定時間3:<%= student.fix_day4 %> <%= timedisplay(student.fix_time4) %>
            <% end %>
            <% if student.fix_day5.present? %>
                固定時間5:<%= student.fix_day5 %> <%= timedisplay(student.fix_time5) %>
            <% end %>
            <% if student.zoom?  %>
              <span class="label label-warning label-user-division">zoom</span>
            <% end %>
            <% if student.examinee? %>
                <span class="label label-success label-user-division">受験生</span>
            <% end %>
            <% elsif student.withdrawal >=@today%>
                <span class="label label-warning label-user-division">退会予定</span>
            <% else %>
                <span class="label label-danger label-user-division">退会済</span>
            <% end %>
            <% if students.count >1 %>
              <br>
            <% end %>
          <% end %>
        </td>
        <td>
          <% @user_id = user.id %>
          <a href="" data-toggle="modal" data-target=#<%= @user_id %> class="btn btn-primary btn-sm pull-right">受講生新規</a>
            <!--生徒新規モーダル -->
          <%= render partial: "/students/new_basic_info" %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
    
  </div>



 