<% provide(:title, 'Sign up') %>
<h1>生徒登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <!--保護者名-->
      ・<%= f.label :guardian, class: "label-signup" %>
      <span class="label label-danger label-user-division">必須</span>
      <%= f.text_field :guardian, required: true, class: "form-control new-form" %>

       <!--生徒名-->
      ・<%= f.label :student, class: "label-signup" %>
      <span class="label label-danger label-user-division">必須</span>
      <%= f.text_field :student, required: true, class: "form-control new-form" %>
      
      <!--メールアドレス-->
      ・<%= f.label :email, class: "label-signup" %>
      <span class="label label-danger label-user-division">必須</span>
      <%= f.email_field :email, required: true, class: "form-control new-form" %>
      
      <!--学校名-->
      ・<%= f.label :school, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span>
      <%= f.text_field :school, required: true, class: "form-control new-form" %>
      
      <!--生年月日を追加したからいらない？-->
      <%#= f.label :school_year, class: "label-signup" %>
      <%#= f.number_field :school_year, class: "form-control" %>
      
      <!--生年月日-->
      ・<%= f.label :birthday, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span><br>
      <%= f.date_field :birthday, required: true, class: "form-control new-form" %>
                            
      <div class="class-choice">
        ・<label style="margin-bottom:0px;">受講方法選択</label><br>
        <%= f.label :zoom, class: "label-signup zoom-choice" %>
        <%= f.check_box :zoom, {}, "true", "false" %>
        
        <%= f.label :real, class: "label-signup real-choice" %>
        <%= f.check_box :real, {}, "true", "false" %>
      </div>
      
      <!--固定曜日-->
      ・<%= f.label :fix_day, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span>
      <%= f.select :fix_day, [["月", "月"], ["火", "火"], ["水", "水"], ["木", "木"], ["金", "金"], ["土", "土"], ["日", "日"]], {include_blank: true}, required: true, class: "form-control new-form" %>
      
      <!--固定時間-->
      ・<%= f.label :fix_time, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span>
      <%= f.time_field :fix_time, required: true, class: "form-control new-form" %>
      
      <!--保留-->
      <!--<div class="userslist">-->
      <!--  <a data-toggle="collapse" href="#collapse1">+ 固定曜日と時間を追加</a>-->
      <!--  <div class="collapse" id="collapse1">-->
      <!--    <div class="panel-body">-->
      <!--      <div class="add-from">・<%#= f.label :fix_day, class: "label-signup" %>-->
      <!--        <span class="label label-danger label-user-division">必須</span>-->
      <!--      </div>-->
      <!--      <%#= f.select :fix_day, [["月", 1], ["火", 2], ["水", 3], ["木", 4], ["金", 5], ["土", 6], ["日", 7]], {include_blank: true}, class: "form-control new-form" %>-->
            
      <!--      <div class="add-from">・<%#= f.label :fix_time, class: "label-signup" %>-->
      <!--        <span class="label label-danger label-user-division">必須</span>-->
      <!--      </div>-->
      <!--      <%#= f.time_field :fix_time, class: "form-control new-form" %>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      <!--<div class="userslist">-->
      <!--  <a data-toggle="collapse" href="#collapse2">+ 生徒追加</a>-->
      <!--  <div class="collapse" id="collapse2">-->
      <!--    <div class="panel-body">-->
      <!--      test1-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
      <!--パスワード-->
      ・<%= f.label :password, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span>
      <%= f.password_field :password, required: true, class: "form-control new-form" %>
      
      <!--パスワード再入力-->
      ・<%= f.label :password_confirmation, class: "label-signup" %> 
      <span class="label label-danger label-user-division">必須</span>
      <%= f.password_field :password_confirmation, required: true, class: "form-control new-form" %>

      <%= f.submit "登録", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>
