<div class="modal fade" id=modal2 tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-body" style="background-color: #C8D7E6; margin:auto;">
      
                <%= form_with(model: @lesson,url:lessons_create_path,local: true) do |f| %>
                <div class="form-group">
                  <label for="select1a">受験生区分:</label>
                  <%= f.select :examineekanji, [["受験生"],["一般"],["全"]], {}, required: true, class: "form-control new-form" %>
                </div>
                <div class="form-group">
                  <label for="select1a">開始時間:</label>
                  <%= f.select :starttime, @hourselect, {}, required: true, class: "form-control new-form" %>
                </div>
                <div class="form-group">
                  <label for="select1a">終了時間:</label>　
                  <%= f.select :finishtime, @hourselect, {}, required: true, class: "form-control new-form" %>
                </div>
                <div class="form-group">
                  <label for="select1a">リアル定員:</label>
                  <%= f.select:seats_real,@capacity,{selected:10}, class: "form-control new-form"  %>
                </div>
                <div class="form-group">
                  <label for="select1a">Zoom定員:</label>
                  <%= f.select:seats_zoom,@capacity, {selected:5},class: "form-control new-form" %>
                </div>
                <div class="form-group">
                  <label for="select1a">区分:</label>　<%= f.check_box :autoregister, {:checked => true} %> 定例で生徒を予約登録　<%= f.check_box :fixtimeres, {:checked => true} %> 定例で固定時間の合う生徒だけ予約登録
                  <%= f.select :regularkanji, [["定例"],["臨時"]], {}, required: true, class: "form-control new-form" %>
                </div>

                <div class="form-group">
                  備考<br>
                  <%= f.text_field :note, class: "form-control" %>
                </div>
                <div style=" display: inline-block; ">
                  <%= f.submit "登録", class: "btn btn-primary" %>
                </div>&nbsp;
                <div style=" display: inline-block; ">
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
                <% end %>
              </div>
            </div>
    
    </div>
  </div>
  </div>
  </div>
</div>