<% provide(:title, '予約状況') %>

<h1>【予約詳細・出欠管理】</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="lesson-discontinuation-fix-btn">
    <td><%= link_to "生徒追加", add_student_lesson_path(@lesson), remote: true, class: "btn btn-success btn-sm" %></td>
    <td><%= link_to "修正・中止", lesson_discontinuation_fix_lesson_path(@lesson), remote: true, class: "btn btn-danger btn-sm" %></td>
  </div>
  
  <table class="table table-bordered table-condensed" id="table-reservations">
    <tr>
      <th class="col-md-3">日付</th>
      <td><%= l(@lesson.meeting_on, format: :long) %></td>
    </tr>
    <tr>
      <th>対象者</th>
      <td>
        <%= @lesson.target %>
        <% if @lesson.examinee==true %> 
          <span class="label label-primary label-user-division">受験生</span>
        <% elsif @lesson.examinee==false %>
          <span class="label label-primary label-user-division">一般</span>
        <% else %>
          <span class="label label-primary label-user-division">全対象</span>
        <% end %></td>
    </tr>
    <tr>
      <th>席数</th>
      <td>zoom:<%= @zooms_sum %>/<%= @lesson.seats_zoom %> リアル:<%= @reals_sum %>/<%= @lesson.seats_real %></td>
    </tr>
    <tr>
      <th>開始時間</th>
      <td><%= l(@lesson.started_at, format: :time) %></td>
    </tr>
    <tr>
      <th>終了時間</th>
      <td><%= l(@lesson.finished_at, format: :time) %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= @lesson.note %></td>
    </tr>
  </table>
 
　<table class="table table-bordered table-condensed" id="table-reservations">
     <h3 class="modal-title center">【生徒】</h3>
      <% @reservations.each do |reservation| %>
       <tr>
         <th>名前</th>
         <th>振替</th>
         <th>固定時間</th>
         <th>授業方法</th>
         <th>固定時間方法修正</th>
         <th>出席時間</th>
         <th>退席時間</th>
         <th>欠席</th>
         <th>出欠ボタン</th>
       </tr>
       <tr>
        <td><%= reservation.student.student_name %></td>
        <td>
          <% if reservation.transfer == true %> 
            <span class="label label-primary label-user-division">✕</span>
          <% end %>
          <% if reservation.transfer == false %>
            <%=  %>
          <% end %>
        </td>
        <td><%= reservation.fix_time %></td>
        <td>
          <% if reservation.zoom == true %> 
            <span class="label label-primary label-user-division">ZOOM</span>
          <% end %>
          <% if reservation.zoom == false %>
            <span class="label label-primary label-user-division">リアル</span>
          <% end %>
        </td>
        </td>
        <td><%= link_to "修正", "#", remote: true, class: "btn btn-warning" %></td>
        <td><%= l(reservation.attendance_time, format: :time, default: '-') %></td>
        <td><%= l(reservation.leave_time, format: :time, default: '-') %></td>
        <td>
          <% if reservation.absence == true %> 
            <span class="label label-danger label-user-division">✕</span>
          <% end %>
          <% if reservation.absence == false %>
            <%= "-" %>
          <% end %>
        </td>
        <td>
          <% if reservation.attendance_time.nil? && reservation.absence == false %>
            <%= link_to "出席", reservation_path(reservation, no: 1), method: :patch, class: "btn btn-primary" %>
          <% end %>

          <% if reservation.leave_time.nil? && reservation.attendance_time.present? %>
            <%= link_to "退席", reservation_path(reservation, no: 2), method: :patch, class: "btn btn-success" %>
          <% end %>
          
          <% if reservation.attendance_time.present? %>
          <%= link_to "クリア", reservation_path(reservation, no: 3), method: :patch,
              data: { confirm: "出席と退席時間をクリアしてもよろしいですか？" },
              class: "btn btn-info" %>
          <% end %>
          
          <% if reservation.attendance_time.nil? && reservation.absence == false %>
            <%= link_to "欠席", reservation_path(reservation, no: 4), method: :patch, class:"btn btn-danger" %>
          <% end %>
          
          <% if reservation.absence.present? %>
          <%= link_to "欠席登録解除", reservation_path(reservation, no: 5), method: :patch,
              data: { confirm: "欠席登録をクリアしてもよろしいですか？" },
              class: "btn btn-primary" %>
          <% end %>
        </td>
       </tr>
      <% end %>
　</table>
　　　　　　
　<table class="table table-bordered table-condensed" id="table-reservations">
     <h3 class="modal-title center">【キャンセル待ち】</h3>
      <% @reservation_waitings.each do |reservation| %>
       <tr>
        <th>名前</th>
        <th>固定時間</th>
        <th>授業方法</th>
        <th>登録ボタン</th>
       </tr>
       <tr>
        <td>
          <% if reservation.waiting == true %> 
            <%= reservation.student.student_name %>
          <% end %>
          <% if reservation.waiting == false %>
            <%= reservation.student.student_name %>
          <% end %>
        </td>
        <td><%= "#" %></td>
        <td><%= "#" %></td>
        <td><%= link_to "登録", "#", class: "btn btn-primary" %></td>
       </tr>
      <% end %>
　</table>
</div>

<!--モーダルウインドウ表示-->
<div id="lesson-discontinuation-fix" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="add-student" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>