<% provide(:title, '予約状況') %>

<h1>【予約詳細】</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="lesson-discontinuation-fix-btn">
    <td><a href="" data-toggle="modal" data-target=#modal2 class="btn btn-warning button_size">生徒追加</a></td>
    <td><%= link_to "修正・中止", lesson_discontinuation_fix_lesson_path(@lesson), remote: true, class: "btn btn-danger" %></td>
  </div>

  <table class="table table-bordered table-condensed" id="table-reservations">
    <tr>
      <th class="col-md-3">日付</th>
      <td><%= l(@lesson.meeting_on, format: :long) %></td>
    </tr>
    <tr>
      <th>対象者</th>
      <td>
        <%= @lesson.target %>
        <% if @lesson.examinee==true %>
          <span class="label label-primary label-user-division">受験生</span>
        <% elsif @lesson.examinee==false %>
          <span class="label label-primary label-user-division">一般</span>
        <% else %>
          <span class="label label-primary label-user-division">全対象</span>
        <% end %></td>
    </tr>
    <tr>
      <th>席数</th>
      <td>zoom:<%= @zooms_sum %>/<%= @lesson.seats_zoom %> リアル:<%= @reals_sum %>/<%= @lesson.seats_real %></td>
    </tr>
    <tr>
      <th>開始時間</th>
      <td><%= l(@lesson.started_at, format: :time) %></td>
    </tr>
    <tr>
      <th>終了時間</th>
      <td><%= l(@lesson.finished_at, format: :time) %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= @lesson.note %></td>
    </tr>
  </table>

　<table class="table table-bordered table-condensed" id="table-reservations">
     <h1 class="modal-title center">【予約生徒・修正&出欠管理】</h1>

     <% if @reservations.present? == true %>
         <tr>
           <th>名前</th>
           <th>振替</th>
           <th>固定時間</th>
           <th>授業方法</th>
           <th>
             固定時間/授業方法<br>
             修正ボタン
           </th>
           <th>出席時間</th>
           <th>退席時間</th>
           <th>欠席</th>
           <th>出欠ボタン</th>
         </tr>
      <% else %>
        <th><h1>予約生徒なし</h1></th>
      <% end %>
      
      <% @reservations.each do |reservation| %>
        <% if reservation.waiting == false %>
           <tr>
            <td>
              <%= link_to reservation.student.student_name, "/reservationusers/useredit?lesson_id=#{@lesson.id}&student_id=#{reservation.student_id}"  %>
            </td>
            <td>
              <% if reservation.transfer == true %>
                <span class="label label-primary label-user-division">〇</span>
              <% end %>
              
              <% if reservation.transfer == false %>
                <%=  %>
              <% end %>
            </td>
            <td>
              <%= form_with(model: reservation, url: reservation_path(reservation, no: 6), method: :patch, local:true) do |f| %>
                <%= f.time_field :fix_time %>
            </td>
            <td><%= f.select :zoom, {"ZOOM": true, "リアル": false} %></td>
            <td>  <%= f.submit '修正', class: "btn btn-warning btn-sm" %></td>
              <% end %>
            <td><%= l(reservation.attendance_time, format: :time, default: '-') %></td>
            <td><%= l(reservation.leave_time, format: :time, default: '-') %></td>
            <td>
              <% if reservation.absence == true %> 
                <span class="label label-danger label-user-division">✕</span>
              <% end %>
              <% if reservation.absence == false %>
                <%= "-" %>
              <% end %>
            </td>
            <td>
              <% if reservation.attendance_time.nil? && reservation.absence == false %>
                <%= link_to "出席", reservation_path(reservation, no: 1), method: :patch, class: "btn btn-primary btn-sm" %>
              <% end %>
    
              <% if reservation.leave_time.nil? && reservation.attendance_time.present? %>
                <%= link_to "退席", reservation_path(reservation, no: 2), method: :patch, class: "btn btn-success btn-sm" %>
              <% end %>
              
              <% if reservation.attendance_time.present? %>
              <%= link_to "クリア", reservation_path(reservation, no: 3), method: :patch,
                  data: { confirm: "出席と退席時間をクリアしてもよろしいですか？" },
                  class: "btn btn-info btn-sm" %>
              <% end %>
              
              <% if reservation.attendance_time.nil? && reservation.absence == false %>
                <%= link_to "欠席", reservation_path(reservation, no: 4), method: :patch, class:"btn btn-danger btn-sm" %>
              <% end %>
              
              <% if reservation.absence.present? %>
              <%= link_to "欠席登録解除", reservation_path(reservation, no: 5), method: :patch,
                  data: { confirm: "欠席登録を解除してもよろしいですか？" },
                  class: "btn btn-primary" %>
              <% end %>
            </td>
           </tr>
        <% end %>
      <% end %>
　</table>
　　　　　　
　<table class="table table-bordered table-condensed" id="table-reservations">
     <h1 class="modal-title center">【キャンセル待ち】</h1>
     
      <% if @waiting != 0 %>
           <tr>
            <th>名前</th>
            <th>固定時間</th>
            <th>授業方法</th>
            <th>登録ボタン</th>
           </tr>
      <% else %>
        <th><h1>キャンセル待ち生徒なし</h1></th>
      <% end %>
      
    　<% @reservations.each do |reservation| %>
        <% if reservation.waiting == true %>
           <tr>
            <td>
              <%= link_to reservation.student.student_name, "/reservationusers/useredit?lesson_id=#{@lesson.id}&student_id=#{reservation.student_id}"  %>
            </td>
            <td><%= l(reservation.fix_time, format: :time, default: '-') %></td>
            <td>
              <% if reservation.zoom == true %>
                <span class="label label-info label-user-division">ZOOM</span>
              <% end %>
              
              <% if reservation.zoom == false %>
                <span class="label label-success label-user-division">リアル</span>
              <% end %>
            </td>
            <td>
              <%= link_to "キャンセル待ち解除 & 授業枠登録", reservation_path(reservation, no: 7), method: :patch,
                data: { confirm: "キャンセル待ちを解除して授業予約登録しますがよろしいですか？" },
                class: "btn btn-primary" %>
            </td>
           </tr>
        <% end %>
      <% end %>
　</table>
</div>

<!--モーダルウインドウ表示-->
<!--基本情報モーダル -->
  <%= render partial: "add_student" %>
<!--基本情報モーダル終了 -->
<div id="lesson-discontinuation-fix" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="add-student" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
