<% provide(:title, '予約状況') %>

<h1>【予約状況】</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered table-condensed" id="table-reservations">
    <tr>
      <th class="col-md-3">日付</th>
      <td><%= @today %></td>
    </tr>
    <tr>
      <th>対象者</th>
      <td><%= @target %></td>
    </tr>
    <tr>
      <th>席数</th>
      <td>zoom:<%= "#" %>/<%= "#" %> リアル:<%= "#" %>/<%= "#" %></td>
    </tr>
    <tr>
      <th>開始時間</th>
      <td>aaaaa</td>
    </tr>
    <tr>
      <th>終了時間</th>
      <td>aaaaa</td>
    </tr>
  </table>
  
  <%= link_to "授業枠編集", edit_basic_info_lesson_path(@lesson), remote: true, class: "btn btn-primary btn-block" %>
 
　<table class="table table-bordered table-condensed" id="table-reservations">
     <h3 class="modal-title center">【予約生徒】</h3>
       <tr>
         <th>生徒名</th>
         <th>固定時間</th>
         <th>出退席</th>
         <th>出席時間</th>
         <th>退席時間</th>
         <th>欠席</th>
       </tr>
       <tr>
        <td><%= "#" %></td>
        <td><%= "#" %></td>
        <td><%= link_to "出席", "#", remote: true, class: "btn btn-primary" %></td>
        <td><%= "#" %></td>
        <td><%= "#" %></td>
        <td><%= link_to "欠席", "#", remote: true, class: "btn btn-danger" %></td>
       </tr>
　</table>
　　　　　　
　<table class="table table-bordered table-condensed" id="table-reservations">
     <h3 class="modal-title center">【キャンセル待ち生徒】</h3>
       <tr>
        <th>生徒名</th>
        <th>学年</th>
        <th>学校名</th>
        <th>生徒選択</th>
       </tr>
       <tr>
        <td><%= "#" %></td>
        <td><%= "#" %></td>
        <td><%= "#" %></td>
        <td>
          <%= check_box "#", id: "remember-me" %>
        </td>
       </tr>
　</table>
  
    <div class="center">
      <%= link_to "登録", "#", class: "btn btn-primary" %>
      <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
        キャンセル
      </button>
    </div>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>